<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hyperx.wlworktools">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 屏幕适配autosize -->
        <meta-data
            android:name="design_width_in_dp"
            android:value="360" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="640" />
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />
        <!-- 适配华为（huawei）刘海屏 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" />
        <!-- 适配小米（xiaomi）刘海屏 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />

        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 滑动返回 -->
        <activity android:name=".activitys.SwipeBackActivity" />
        <activity android:name=".activitys.RxjavaActivity" />
        <activity android:name=".activitys.PreventDoubleClickActivity" />
        <activity android:name=".activitys.UpdateActivity" />
        <activity android:name=".activitys.CacheUtilsActivity" />
        <activity android:name=".activitys.CusGroupActivity"></activity>
    </application>

</manifest>